.header {
    margin: 86px 24px 83px 24px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
}

.header__links-list {
    margin: 46px 0 39px 26.52px;
    display: flex;
    flex-direction: row;
    list-style-type: circle;
    list-style-position: inside;
    justify-self: start;
}

.header__links-list-item {
    font-size: 18px;
    line-height: 21.13px;
    font-weight: normal;
    color: #000;
    margin: 0 13px 0 0;
}

.header__links-list-item:first-of-type {
    margin-right: 13.48px;
    list-style: none;
}

.header__links-list-item:last-of-type {
    margin-right: 0;
}

.header__link {
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

.header__link:active {
    text-decoration: none;
    letter-spacing: 0;
}

.header__link_active {
    text-decoration: none;
    letter-spacing: 0;
}

.header__logo {
    min-width: 148px;
    margin: 0.63px 2.7px 8.18px 2.36px;
}

.header__logo-image {
    display: block;
    width: 100%;
    object-fit: cover;
}

.address {
    font-size: 18px;
    line-height: 24.3px;
    font-weight: normal;
    font-style: normal;
    color: #000;
    max-width: 240.52px;
    margin: 0;
    justify-self: end;
}

.header__address {
    margin: 5px 25.48px 2px 0;
}

.cover {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / .6);
}

.cover__title {
    font-size: 100px;
    font-weight: bold;
    line-height: 115px;
    letter-spacing: 0.3em;
    color: #fff;
    text-transform: uppercase;
    padding: 165px 50px 135px 50px;
    z-index: 1;
}

.aligned-text {
    display: block;
    margin: 0 0 20px 0;
}

.aligned-text:last-of-type {
    margin-bottom: 0;
}

.aligned-text_center {
    line-height: 100px;
    text-align: center;
    display: block;
}

.aligned-text_right {
    line-height: 100px;
    text-align: right;
    display: block;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 51px 78px;
    color: #fff;
    z-index: 1;
}

.cover__description-text {
    font-size: 22px;
    line-height: 28px;
    font-weight: normal;
    text-transform: uppercase;
    word-spacing: 0.9em;
}

.bet-button {
    font-family: inherit;
    font-size: 22px;
    line-height: 25.83px;
    text-transform: uppercase;
    text-align: center;
    color: currentColor;
    background: transparent;
    border: 1px solid #fff;
    padding: 12px 30px 11px 30px;
}

.lots {
    margin: 179px 24px 146px 24px;
}

.lots__heading {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    line-height: 47px;
    color: #000;
    margin: 0 0 27px 40px;
}

.lots__card-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 25px;
}

.lots__card-list-item {
    flex-basis: 334px;
    min-height: 563px;
}

.card-link {
    display: block;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}

.card_type {    
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-size: 22px;
    font-weight: bold;
    line-height: 26.4px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
    z-index: 1;
    margin: 51px 40px 0 40px;
}

.card__text {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    z-index: 1;
    margin: 0 40px 48px 40px;
    align-self: flex-end;
}

.lots__look-more-link {
    display: block;
    text-transform: lowercase;
    font-size: 20px;
    line-height: 23.48px;
    color: #000;
    margin: 30px 0 0 40px;
    text-decoration: underline;
    cursor: pointer;
}

.about {
    margin: 0 24px;
    display: grid;
    grid-template-columns: 334px 1fr;
    justify-content: space-between;
}

.about__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    margin-top: 35px;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 61.7%;
    object-fit: cover;
    object-position: center;
}

.about__title {
    font-size: 40px;
    font-weight: bold;
    line-height: 46.96px;
    text-transform: uppercase;
    color: #000;
    margin: 136px 0 100px 25px;
}

.about__text {
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
    color: #000;
    margin: 0 0 24px 25px;
}

.about__text:last-of-type {
    margin-bottom: 0;
}

.footer {
    margin: 180px 50px 90px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer__menu-list-item {
    font-size: 18px;
    font-weight: normal;
    color: #000;
}

.footer__menu-link {
    text-decoration: underline;
    cursor: pointer;
}

.footer__menu-link:active {
    text-decoration: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
    margin: 0 48px 0 0;
}

.footer__social-list-item:last-of-type {
    margin-right: 0;
}

.footer__social-link {
    text-decoration: none;
    cursor: pointer;
}